div{
    border:solid;
    height:200px;
    width:40%;
}
.box1{
background-color:tomato;
margin-left:20%;
margin-top:5%;
}
.box2{
    background-color:turquoise;
    margin-left:20%;
    margin-top:5%
}