.col img{
    width:130%;
    height: 250px;
}
.col{
    width:16%;
    
}
body{
    background-color:black;
    color:cornsilk;
}
h1{
    text-align:center;
}
    
    
.row{
    width:100%;
    height:350px;
    display:flex;
    justify-content:space-evenly;
    margin-top:10px;
    
}
button{
    width:250px;
    height:30px;
    border-color:white;
    background-color:black;
    color:cornsilk;
    
}
.btn{
    display:flex;
    justify-content:space-around;
}
header{
    display:flex;
    width:100%;
    background-color:indigo;
    justify-content:space-evenly;
    height:50px;
    align-items:center;
}
header a{
    color:white;
    text-decoration:none;
    padding:100px;
}